.container {
  width: 90%;
  max-width: 280px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.message {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 26px;
  color: black;
}

.refresh-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  background-color: #61dafa;
  font-weight: 400;
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: "Montserrat";
}
