body {
  margin: 0;
  padding: 0;
  color: #1e1e1f;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
